@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Scrollbar sutil y minimalista */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0C0C0C;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFB300;
}
